<h1>JollyRadio</h1>
<h2>We believe that accessible, simple radios will make you more jolly 😊!</h2>

<h3>Check out your <a href="https://jollyradio.onrender.com/local/">local</a> news.</h3>
<h3>Or, <a href="https://jollyradio.onrender.com/explore/">explore</a> some new, global radios!</h3>

<h3>If you still can't find it, search it up on our site!</h3>
<form action="/search" method="get">
        <label for="query">Enter your search:</label>
        <input type="text" id="query" name="q" required>
        <button type="submit">Search</button>
</form>

<h3>Enjoy 🤗</h3>
