<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<a href="/" style="position: absolute; top: 10px; left: 10px; display: flex; align-items: center;">
    <h1 style="margin-right: 10px; font-size: 24px; margin-bottom: 0;">JollyRadio</h1>
    <img src="https://raw.githubusercontent.com/SeafoodStudios/JollyRadio/main/resources/logo.png" alt="eQuacks Logo" style="width: 50px; height: auto;">
</a>
<h1>Results for your Query</h1>
<table>
  <tr>
    <th>Station</th>
    <th>Website</th>
  </tr>
  {% for station, website, uuid in data %}
    <tr>
      <td><a href="https://jollyradio.onrender.com/station/{{ uuid }}">{{ station }}</a></td>
      <td>{{ website }}</td>
    </tr>
  {% endfor %}
</table>
